<!--============================== form start =========================== -->
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h1>USER FORM</h1>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Enter Your Username" formControlName="username">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Enter Your email " formControlName="email">
  </div>
  <div class="mb-3">
    <label for="phoneno" class="form-label">Phone No</label>
    <input type="number" class="form-control" id="phoneno" placeholder="Enter Your Phone No" formControlName="phoneno">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Enter Your Password"
      formControlName="password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="button" class="btn btn-danger  ms-3" (click)="onclose()">Close</button>
</form>
<!--============================== form end =========================== -->
