<!--============================== form start =========================== -->
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h1>USER FORM</h1>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Enter Your Username" formControlName="username"
    [ngClass]="{'is-invalid' : userform['username'].invalid && (isSubmited||userform['username'].touched || userform['username'].dirty),
                    'is-valid' : userform['username'].valid && (isSubmited|| userform['username'].touched || userform['username'].dirty)}">
  </div>
  <div *ngIf="userform['username'].invalid && (isSubmited||userform['username'].touched || userform['username'].dirty)" class="danger">
    <div *ngIf="userform['username'].errors?.['required']" class="text-danger">
       Name is required.
    </div>
   
</div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Enter Your email " formControlName="email"
    [ngClass]="{'is-invalid' : userform['email'].invalid && (isSubmited||userform['email'].touched || userform['email'].dirty),
                    'is-valid' : userform['email'].valid && ( isSubmited||userform['email'].touched || userform['email'].dirty)}">
  </div>
  <div *ngIf="userform['email'].invalid && (isSubmited||userform['email'].touched || userform['email'].dirty)" class="danger">
    <div *ngIf="userform['email'].errors?.['required']" class="text-danger">
       Name is required.
    </div>
   
</div>
  <div class="mb-3">
    <label for="phoneno" class="form-label">Phone No</label>
    <input type="number" class="form-control" id="phoneno" placeholder="Enter Your Phone No" formControlName="phoneno"
    [ngClass]="{'is-invalid' : userform['phoneno'].invalid && (isSubmited||userform['phoneno'].touched || userform['phoneno'].dirty),
                    'is-valid' : userform['phoneno'].valid && ( isSubmited||userform['phoneno'].touched || userform['phoneno'].dirty)}">
  </div>
  <div *ngIf="userform['phoneno'].invalid && (isSubmited||userform['phoneno'].touched || userform['phoneno'].dirty)" class="danger">
    <div *ngIf="userform['phoneno'].errors?.['required']" class="text-danger">
       Name is required.
    </div>
</div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Enter Your Password"
      formControlName="password"
      [ngClass]="{'is-invalid' : userform['password'].invalid && (isSubmited||userform['password'].touched || userform['password'].dirty),
                    'is-valid' : userform['password'].valid && ( isSubmited||userform['password'].touched || userform['password'].dirty)}">
  </div>
  <div *ngIf="userform['password'].invalid && (isSubmited||userform['password'].touched || userform['password'].dirty)" class="danger">
    <div *ngIf="userform['password'].errors?.['required']" class="text-danger">
       Name is required.
    </div>
   
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="button" class="btn btn-danger  ms-3" (click)=" onclose()" >Close</button>
</form>
<!--============================== form end =========================== -->
